{% extends 'visitca/base.html'  %}
{% load static %}


{% block title %}Готовые проекты{% endblock %}

{% block content %}
<div>
    {% include 'includes/topindex.html' %}
</div>

<div class="base-content">
    <div class="index-content center">
        <h1>Готовые проекты</h1>
    <h2>Возможно изменение планировки во всех проектах</h2>
    <h3>Площадь от 40 до 60 квадратных метров</h3>
    <h3 color="#CC000">Стоимость от 2 000 0000 рублей</h3>
    </div>


{% if not object_list%}
    <h2>Нет проектов для домов</h2>
{% else %}
    {% for house in houses %}
        <div class="one-house">
            <img src="{{ house.image.url }}" alt="картинка" height="100" width="150">
            <br>
            <a>Проект: {{house.name_house}} </a> |
            <a href="{% url 'visitca:detail_house' house.pk %}">перейти к проекту</a>
            <p>{{house.description}}</p>
            <p>Площадь: {{house.square}} квадратных метра</p>
            <p>Габариты: {{house.dimensions}}</p>
            <p>Стены: {{house.walls}}</p>
        </div>
    {% endfor %}
{% endif %}

<div class="one-house">
    <a href="{% url 'visitca:create_houses' %}">Добавить новый проект для дома</a>
</div>


</div>

{% endblock %}